@import 'normalize.scss';
@import 'variables.scss';

* {
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  background: rgba($main-color, 0.15);  
}

.header {
  background: rgba($main-color, 0.8); 
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  &-wrapper {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    color: #ffffff;
  }
  &-nav {
    margin-left: 60px;
    margin-right: auto;
  }
  &-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    &-link {
      text-decoration: none;
      color: #fafafa;
      margin-right: 15px;
      font-size: 14px;
      line-height: 22px;
    }
  }

}

.input-group {
  max-width: 237px;
  width: 60%;
  height: 32px;
  position: relative;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}
.search {
  &-input {
    width: 80%;
    height: 100%;
    border: none;
    font-size: 14px;
    line-height: 22px;
    padding-left: 12px;
    &::placeholder {
      color: #bfbfbf;
    }
  }
  &-icon {
    color: $main-color;
  }
  &-button {
    height: 100%;
    width: 20%;
    border: none;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.title {
  color: #595959;
  margin-top: 0;
}

.posts {
  width: 45%;
  display: block;
}

.post {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
  &-wrapper {
    display: none;
    &-active {
      display: block;
    }
  }
  &-title {
    margin-top: 0;
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  &-body {
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 0;
  }
  &-text {
    color: #262626;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
  }
  &-footer {
    border-top: 1px solid #e8e8e8;
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  &-buttons {
    display: flex;
    align-items: center;
  }
  &-button {
    background-color: transparent;
    border: none;
    color: #8c8c8c;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    margin-right: 19px;
    cursor: pointer;
  }
  &-author {
    display: flex;
    align-items: center;
    text-align: right;
  }
  &-time {
    color: #bfbfbf;
    font-size: 12px;
    line-height: 20px;
  }
}

.icon {
  color: #8c8c8c;
  &-like {
    margin-right: 8px;
  }
  &-edit, &-exit, &-like, &-delete {
    width: 20px;
    height: 20px;
  }
}

.author {
  &-avatar {
    width: 34px;
    height: 34px;
    margin-left: 9px;
    border-radius: 4px;
    object-fit: cover;
  }
  &-username {
    display: block;
    color: #8c8c8c;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
  }
}

.login {
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 15px 25px;
  align-items: center;
  justify-content: space-between;
  &-form {
    display: flex;
    flex-direction: column;
  }
  &-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #595959;
  }
  &-input {
    display: block;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 5px 15px;
    margin-bottom: 15px;
  }
  &-forget {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: #757575;
    margin-bottom: 10px;
    font-style: italic;
  }
  &-signin {
    background-color: $main-color;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 32px;
    font-size: 12px;
    margin-bottom: 15px;
    &:hover {
      filter: opacity(80%);
    }
    &:active {
      filter: brightness(85%);
    }
  }
  &-signup {
    color: $main-color;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.user {
  display: none;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 15px 20px 0 20px;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-info {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
    padding-bottom: 15px;
    min-height: 50px;
    flex-wrap: wrap;
  }
  &-avatar {
    border-radius: 50%;
    margin-right: 17px;
    object-fit: cover;
  }
  &-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
  }
  &-icon {
    padding-bottom: 15px;
  }

}

.edit {
  margin-right: 10px;
  text-decoration: none;
  &-container {
    display: none;
    &.visible {
      display: block;
      border-top: 1px solid $main-color;
    }
  }
  &-title {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 600;
    color: #595959;
    text-transform: uppercase;
  }
  &-label {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  &-input {
    display: block;
    margin: 5px auto;
    width: 100%;
    padding: 5px 10px;
  }
  &-btn {
    background-color: $main-color;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 32px;
    font-size: 12px;
    margin-bottom: 20px;
    width: 100%;
  }
}

.exit {
  position: relative;
  right: 0;
}

.sidebar {
  width: 25%;
  &-nav {
    display: block;
    background-color: #fff;
    margin-top: 20px;
  }
  &-menu {
    margin: 0;
    border: 1px solid #e8e8e8;
    border-top: none;
    list-style-type: none;
    padding: 0;
    &-link {
      text-decoration: none;
      font-size: 14px;
      line-height: 22px;
      color: #595959;
      padding: 16px 48px;
      display: inline-block;
      width: 100%;
      background-color: #fff;
      &:hover {
        background-color: #fffbe6;
      }
      &.active {
        background-color: #fffbe6;
        border-right: 3px solid rgba($main-color, 0.8);
      }
    }
  }
}

.button {
  background: rgba($main-color, 0.8);
  border-radius: 4px;
  border: none;
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
  cursor: pointer;
  &-outline {
    background: #ffffff;
    border: 1px solid rgba($main-color, 0.6);
    border-radius: 4px;
    color: rgba($main-color, 0.6);
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    &.icon {
      width: 14px;
      height: 11px;
      fill: rgba($main-color, 0.6);
    }
  }
}

.card {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  text-align: justify;
  &-header {
    background: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    padding: 23px 25px;
  }
  &-title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    text-align: center;
  }
  &-body {
    padding: 22px 40px 20px 25px;
    &-title {
      text-decoration: none;
      margin: 0 0 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #d48806;
    }
  }
  &-text {
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    margin: 10px 0;
  }
}

.add-post {
  display: none;
  flex-direction: column;
  width: 25%;
  &.visible {
    display: flex;
  }
  &-guest {
    display: block;
    width: 25%;
    font-size: 1em;
    line-height: 1.15;
    &.invisible {
      display: none;
    }
    div {
      text-align: center;
      background: #ffffff;
      border: 1px solid #e8e8e8;
      padding: 23px 30px;
      line-height: 2;
      span {
        display: block;
      }
    }
  }
  &.button-outline {
    margin-right: 1%;
  }
}

.add {
  &-title, &-text {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  padding: 23px 30px;
  margin-bottom: 16px;
  width: 100%;
  }
  &-text {
    min-height: 362px;
  }
  &-button {
    width: 100%;
    max-width: 370px;
    margin-right: 2%;
  }
}


@media (max-width: 990px) {
  .header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
  }
  .content {
    margin-top: 94px;
    margin-bottom: 60px;
  }
  .sidebar {
    position: fixed;
    z-index: 101;
    top: 64px;
    right: 0;
    bottom: 0;
    height: calc(100% - 64px);
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
    transform: translateX(100%);
    transition: transform 0.2s;
    overflow-y: auto;
  }
  .sidebar.visible {
    transform: translateX(0);
  }
  .posts {
    width: 100%;
  }
  .header-nav {
    display: none;
  }
  .header-menu {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 676px) {
  .add-buttons {
    display: flex;
    flex-direction: column;
  }
  .add-button {
    width: 100%;
    max-width: 100%;
  }
  .add-post .button-outline {
    margin-right: 0;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .post-footer {
    flex-direction: column;
  }
  .post-author {
    margin-top: 15px;
  }
  .author-avatar {
    margin-left: 0;
    margin-right: 10px;
  }
  .author-about {
    order: 2;
    text-align: left;
  }
  .add-button {
    width: 100%;
  }
}
